.isi {
    margin: 0px;
    width: -moz-fit-content;
    height: -moz-fit-content;

}

.isi-berita {
    width: 100%;
    height: -moz-fit-content;
    display: block;
    border: 3px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* FORM */
input[type=text],
[type=url],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* h1center */
h1 {
    text-align: center;
}

/* subberita */
.edit-label input {
    width: 100%;
}